<div class="col-md-2">
    <div class="movie-panel row" id="movie-panel-<%= movie._id %>">
        <img class="img-responsive col-md-12" src="<%= movie.image %>" alt="<%= movie.title %> Cover">
        <div class="movie-panel-overlay">
            <h3><a href="/movie/<%= movie._id %>"><%= movie.title %></a></h3>
                <% if (user && watchOptions !== undefined) { %>
                    <div class="col-md-12 collapse in" id="save-button-div-<%= movie._id %>" data-toggle="collapse">
                        <button class="btn btn-primary save-button" data-id="<%= movie._id %>">Save</button>
                    </div>
                    <div class="col-md-12 collapse" id="watched-buttons-<%= movie._id %>" data-toggle="collapse">
                        <button
                            class="btn btn-default watched-btn"
                            data-id="<%= movie._id %>"
                            data-state="<%= watchOptions.notWatched %>"
                        >Have not watched</button>
                        <button
                            class="btn btn-primary watched-btn"
                            data-id="<%= movie._id %>"
                            data-state="<%= watchOptions.watched %>"
                        >Have watched</button>
                        <button
                            class="btn btn-warning watched-btn"
                            data-id="<%= movie._id %>"
                            data-state="<%= watchOptions.willNotWatch %>"
                        >Will not watch</button>
                    </div>
                    <div class="col-md-12 collapse" id="rate-<%= movie._id %>" data-toggle="collapse">
                        <form>
                            <div class="row">
                                <label for="rating" class="form-control-label col-md-12">Rating</label>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <input type="text" size="1" name="rating" id="rating-<%= movie._id %>" class="form-control rating">
                                </div>
                                <!-- TODO: Fix space between input and span -->
                                <div class="col-md-7">
                                    <span style="color: #fff;">/10</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" data-id="<%= movie._id %>" class="btn btn-success save-rating-btn">Save</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" data-id="<%= movie._id %>" class="btn btn-warning cancel-rating-btn">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                <% } %>
        </div>
    </div>
</div>
