<div class="col-md-2">
    <div class="movie-panel row">
        <img class="img-responsive col-md-12" src="<%= movie.image %>" alt="<%= movie.title %> Cover">
        <div class="movie-panel-overlay">
            <h3><%= movie.title %></h3>
                <% if (user) { %>
                    <div class="col-md-12 collapse in" id="save-button-div-<%= movie._id %>" data-toggle="collapse">
                        <button class="btn btn-primary save-button" data-id="<%= movie._id %>">Save</button>
                    </div>
                    <div class="col-md-12 collapse" id="watched-buttons-<%= movie._id %>" data-toggle="collapse">
                        <button
                            class="btn btn-default watched-btn"
                            data-id="<%= movie._id %>"
                        >Have not watched</button>
                        <button
                            class="btn btn-primary watched-btn"
                            data-id="<%= movie._id %>"
                        >Have watched</button>
                        <button
                            class="btn btn-warning watched-btn"
                            data-id="<%= movie._id %>"
                        >Will not watch</button>
                    </div>
                <% } %>
        </div>
    </div>
</div>
