<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        .row-border, #search {
            border: solid;
            border-width: 2px;
            border-color: #ddd;
            border-radius: 4px;
            padding-bottom: 5px;
            padding-left: 5px;
        }

        .input-button {
            display: flex !important;
        }

        .input-group {
            margin: 0 auto;
            padding-bottom: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Browse Movies</h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Browse</a></li>
                        <li><a href="/submit">New Movie</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Username <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/movies/my">My Movies</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>   
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Search..." />
                    <div class="input-button">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    <% movies.forEach(function (genre) { %>
    <div class="row">
        <h2>
            <%= genre.genre %>
            <button data-toggle="collapse" data-target="#<%= genre.genre %>" class="btn btn-default btn-collapse">Collapse</button>
        </h2>
    </div>
    <div class="carousel slide" id="<%= genre.genre %> movie-carousel" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="row row-border">
    <%  
        var i = 6;
        var count = genre.movies.length;
        genre.movies.forEach(function (movie) {
          if (i === 6) { 
    %>
            <div class="item active">
                <div class="row">
    <%    } else if (i !== 6 && i % 6 === 0)  { %>
            <div class="item">
                <div class="row">
    <%    } 
          i++;
    %>
                    <div class="col-md-2">
                        <div class="row">
                            <h3><%= movie.title %></h3>
                        </div>
                        <div class="row">
                            <img class="img-responsive col-md-12" src="<%= movie.image %>" alt="<%= movie.title %> Cover">
                        </div>
                        <div class="row">
                            <div class="col-md-12 collapse in" id="save-button-div-<%= movie._id %>" data-toggle="collapse">
                                <button class="btn btn-primary" id="save-button" data-id="<%= movie._id %>">Save</button>
                            </div>
                            <div class="col-md-12 collapse" id="watched-buttons-<%= movie._id %>" data-toggle="collapse">
                                <button class="btn btn-default watched-btn" data-id="<%= movie._id %>">Have not watched</button>
                                <button class="btn btn-primary watched-btn" data-id="<%= movie._id %>">Have watched</button>
                                <button class="btn btn-warning watched-btn" data-id="<%= movie._id %>">Will not watch</button>
                            </div>
                        </div>
                    </div>
    <%  if (i % 6 == 0 || (i % 6 !== 0 && --count == 1)) { %>
                </div>
            </div>
    <%
           }
        }); 
    %>
            </div>
        </div>
    </div>
    <% }); %>

        <!-- TODO: Never ending scroll thing -->
    </div>
    <% include ../partials/scripts %>
</body>

</html>