<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { pageTitle: user.username }); %>
    <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/movie-panel.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/profile.css" />
</head>

<body class="container-fluid">
    <% include ../partials/nav %>

    <main class="container">
        <h2 class="user-title"><%= user.username %>'s profile</h2>
        <div class="row">
            <!-- Left side -->
            <section class="col-md-6">
                <ul class="profile-traits">
                    <li>
                        <label for="profile-fullname">Name</label>
                        <div id="profile-fullname"><%= user.realName %></div>
                    </li>
                    <li>
                        <label for="profile-text">Bio</label>
                        <p
                            id="profile-text"
                            data-id="<%= user._id %>"
                        ><%-  user.profileText
                                    ? user.profileText
                                    : "<i>Uh oh, there's nothing here!</i>"
                            %>
                        </p>
                    </li>
                </ul>
            </section>
            <!-- Right side -->
            <section class="col-md-6">
                <label for="featured-movie">Featured Movie</label>
<%      if (user.featuredMovie.title != null) {     %>
                    <div id="featured-movie" class="movie-panel">
                        <img src="<%= user.featuredMovie.cover %>" alt="<%= user.featuredMovie.title %> Cover">
                        <div class="movie-panel-overlay">
                            <h3>
                                <a href="/movie/<%= user.featuredMovie._id %>">
                                    <%= user.featuredMovie.title %>
                                </a>
                            </h3>
                        </div>
                    </div>
<%      } else {                                    %>
                    <div id="featured-movie">No featured movie has been selected</div>
<%      }                                           %>
            </section>
            <!-- TODO: This will allow for HTML in the user's profile to be rendered. This is a problem. -->
        </div>
        <% if (movies.length > 0) { %>
        <%- include('../partials/genre-carousel', { user: user, genre: "Saved Movies", movies: movies }); %>
        <% } %>
    </main>
    <% include ../partials/scripts %>
</body>

</html>
